{% extends 'base.html' %}
{% block content %}

<div class="col-md-6">

            <div class=" shadow card" style="width: 18rem;">

            <div class="card-body">
                <h5 class="card-title">DETAIL</h5>
                <h5 class="card-text">{{task.name}}</h5>
                <p class="card-text">{{task.priority}}</p>
                <p class="card-text">{{task.date}}</p>
                <a href="{% url 'delete' task.id %}" class="btn btn-danger">DONE</a>
                <a href="{% url 'update' task.id %}" class="btn btn-success">UPDATE</a>
            </div>
        </div>


        </div>
{% endblock %}
